.custom-button {
    background-color: #a75900; /* color de fondo */
    color: #020202; /* color del texto */
    /* otros estilos que quieras añadir */
  }
  .custom-title {
    
    color: #00ccff;
    /* otros estilos que quieras añadir */
  }